---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<style>

.publication-list {
  font-size: 0.86em;
}

.publication-item {
  margin-bottom: 1.35em;
  line-height: 1.45;
}

.publication-title {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.12em;
}

.publication-title a {
  text-decoration: none;
}

.publication-authors {
  margin-bottom: 0.1em;
}

.publication-details {
  margin-bottom: 0;
}

</style>


{% assign publications = site.publications | sort: "date" | reverse %}

<div class="publication-list">

{% for pub in publications %}

  <div class="publication-item">

    <div class="publication-title">
      {% if pub.paperurl and pub.paperurl != "" %}
        <a href="{{ pub.paperurl }}" target="_blank">
          {{ pub.title }}
        </a>
      {% else %}
        {{ pub.title }}
      {% endif %}
    </div>


    <div class="publication-authors">

      {% for author in pub.authors %}

        {% if author contains "Pateiro" %}
          <strong>{{ author }}</strong>
        {% else %}
          {{ author }}
        {% endif %}

        {% unless forloop.last %}
          {% if forloop.rindex == 2 %}
            and
          {% else %}
            ,
          {% endif %}
        {% endunless %}

      {% endfor %}

      ({{ pub.date | date: "%Y" }}).

    </div>


    <div class="publication-details">

      <strong>
        {% if pub.publication_type %}
          {{ pub.publication_type }}
        {% else %}
          Journal paper
        {% endif %}
      </strong>

      {% if pub.venue and pub.venue != "" %}
        <em>{{ pub.venue }}</em>
      {% endif %}

      {% if pub.volume and pub.volume != "" %}
        , {{ pub.volume }}
      {% endif %}

      {% if pub.pages and pub.pages != "" %}
        :{{ pub.pages }}
      {% endif %}.

      {% if pub.paperurl and pub.paperurl contains "doi.org" %}

        {% assign doi = pub.paperurl
          | replace: "https://doi.org/", ""
          | replace: "http://doi.org/", ""
          | replace: "https://dx.doi.org/", ""
        %}

        doi:<a href="{{ pub.paperurl }}" target="_blank">{{ doi }}</a>.

      {% endif %}

    </div>

  </div>

{% endfor %}

</div>

{% endfor %}
